{% load static %}
<link rel="stylesheet" href="{% static 'products/css/style.css' %}">

<div class="row">

    {% for prod in products %}
    <div class="col-4">
        <div class="card h-100">
            <h5 class="card-title">{{prod.name}}</h5>
          <img src="{{prod.image}}" class="card-img-top" height="200">
          <div class="card-body">
            <p class="card-text">{{prod.description}}</p>
            <p class="card-text">{{prod.price}}</p>
          </div>
        </div>
        <hr>
    </div>
    {% endfor %}
   
  </div>
